<h1>Tämä on kotisivu</h1>
<p>Tämä on staattista teksitä, joka no tällä sivulla aina.</p>

<h2>Tästä eteenpäin sisältö on dynaamista, eli app.js generoi sisällön.</h2>

<h3>Tänään on {{dayName}}</h3>
<p>Ruokalistalla on tänään {{menu}} ravintola Rosmariinissa</p>